# This is Git's per-user configuration file.
[user]
name = Patrick Hall
	email = patrick.hall+xxio@twenty.io
[core]
	pager = 
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
