format = """
[▸](dim cyan) $directory $git_branch$git_state$git_status $aws$cmd_duration
$python$character"""

[directory]
style = "bold white"
format = "[$path]($style)"
truncation_length = 3
truncate_to_repo = true

[character]
success_symbol = "[›](bold cyan)"
error_symbol = "[›](bold red)"
vimcmd_symbol = "[‹](bold cyan)"

[git_branch]
format = "[$symbol$branch]($style)"
style = "bold purple"
symbol = ""

[git_status]
format = "[$all_status$ahead_behind]($style)"
style = "white"
conflicted = " [⚡](bold red)"
untracked = " [◌](dim white)"
modified = " [△](yellow)"
staged = " [✓](green)"
renamed = " [→](cyan)"
deleted = " [✕](red)"
stashed = " [≡](cyan)"
ahead = " [↑${count}](green)"
behind = " [↓${count}](red)"
diverged = " [↕${ahead_count}↓${behind_count}](red)"

[git_state]
format = '[$state( $progress_current/$progress_total)]($style) '
style = "italic yellow"

[cmd_duration]
format = "[◇ $duration]($style)"
style = "dim white"
min_time = 1000

[python]
format = "[‹$virtualenv› ](dim cyan)"
style = "dim cyan"


################ 
#### AWS
################ 
[env_var.AWS_ACCOUNT_ID]
format = '[$env_value]($style) '
style = 'dim white'

[aws]
format = '[⬡ $profile](bold cyan) '
style = 'cyan'
symbol = ''
[aws.region_aliases]
us-east-1 = 'va'
[aws.profile_aliases]
CompanyGroupFrobozzOnCallAccess = 'Frobozz'
